<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- AR Required features -->
    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracaZaliczeniowa">

        <!-- ARCore meta data -->
        <meta-data android:name="com.google.ar.core" android:value="required" tools:replace="android:value" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PracaZaliczeniowa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.ARActivity"
            android:exported="false"
            android:theme="@style/Theme.ARActivity" />
        <activity
            android:name=".Activities.LibraryActivity"
            android:exported="false"
            android:theme="@style/Theme.LibraryActivity"/>
        <activity
            android:name=".Activities.ModelPreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.ARActivity"/>
        <activity
            android:name=".Activities.SettingsActivity"
            android:parentActivityName=".Activities.LibraryActivity"
            android:label="Settings" />

        <activity android:name=".Activities.SettingScreens.StorageActivity" />
    </application>

</manifest>